<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{friend_name}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p>
      {{message}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="accent" (click)="sendPayment()" mat-button>{{buttons.left.title}}</button>
    <button  color="basic" (click)="requestPayment()" mat-button>{{buttons.right.title}}</button>
  </mat-card-actions>
</mat-card>
